.checkoutMessage {
  width: fit-content;
  margin: 1rem auto;
}

.checkoutIcon {
  width: 2rem;
  color: #4bb543;
  height: 2rem;
}

.checkoutTitleContainer {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.7rem;
}

.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.spinner-container span {
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
}

@media only screen and (max-width: 480px) {
  .checkoutMessage {
    margin: 1rem 1rem;
  }
}

@media only screen and (max-width: 480px) {
  .checkoutMessage {
    margin: 1rem 1rem;
  }
}
